$theme-colors: (
	'boron': (
		'background': #0A090C,
		'text': #FFFFFF,
	),
	'hydrogen': (
		'background': #13293D,
		'text': #F8F991,
	),
);

@each $key, $value in $theme-colors {
	// set the default theme as :root
	@if $key == 'boron' {
		:root {
			@each $name, $color in map-get($theme-colors, 'boron') {
				--#{$name}: #{$color};
			}
		}
	}

	// generate all css variables for each theme
	html.#{$key} {
		@each $name, $color in map-get($theme-colors, $key) {
			--#{$name}: #{$color};
		}
	} 
}

// Declare variables derived from our theme map

$background: var(--background);
$text: var(--text);

// Define our styles

body {
	background-color: $background;
}

h1,
button {
  color: var(--text);
}

button {
 border: 1px solid var(--text);
 background-color: var(--background);
 appearance: none; // don't even worry about it
}
